.button{
 background: url("http://cdn.wallpapersafari.com/28/54/Cav8u0.jpg"); 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 30px;
}
.button:hover{
    background: url("https://files.graphiq.com/2307/media/images/White_430113_i0.png");
    color: black;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
}
.primary {
    background-color: white;
    color: black;
    border: 2px solid white;
}

.primary:hover {
    background-color: #555555;
    color: white;
}
.transform black{
 background-color: white;
    color: black;
    border: 2px solid #555555; 
}
.hero{
 font-family: 'Quicksand', sans-serif;
    position: center;
    color: white; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 300px;
    left: 0;
    top: 0;
}
.content{
 text-align: center;
 font-family: Quicksand;
 color: black;
 size: 14px;
 padding-top: 200px;
 padding-bottom: 400px;
 background-color: white;
 font-size: 25px;
}
body {
 background: url('http://i3.wallpaperscraft.com/image/northern_lights_aurora_borealis_uk_2015_100946_3840x2160.jpg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0px;
    opacity: 0.6;
}

li {
    float: left;}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.content a{
 text-decoration: none;
 color: red;
}
.content a:hover{
 text-decoration: none;
 color: black;
 -webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
}
.content a, visited{
 color: red;
 text-decoration: none;
}
.center-hero {
 text-align: center;
}
.content2 {
 background-color: tomato;
 padding-top: 200px;
 padding-bottom: 230px;
 font-size: 25px;
 text-align: center;
 font-family: 'Quicksand';
 color: white;
}
.content3 {
   background-color: gray;
   padding-top: 200px;
   padding-bottom: 200px;
   font-size: 25px;
   text-align: center;
   font-family: 'Quicksand';
   color: white;
}
.twitter {
 font-size: 20px;
 font-family: 'Quicksand';
}
.end {
 padding-top: 40px;
 padding-bottom: 40px;
 background-color: white;
 color: black;
 font-family: 'Quicksand';
 text-align: center;
}




