.button{
 background: url("http://cdn.wallpapersafari.com/28/54/Cav8u0.jpg"); 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
}
.primary {
    background-color: white;
    color: black;
    border: 2px solid white;
}

.primary:hover {
    background-color: #555555;
    color: white;
}
.transform black{
 background-color: white;
    color: black;
    border: 2px solid #555555; 
}
.hero{
 font-family: 'Quicksand', sans-serif;
    position: center;
    color: white; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 240px;
    padding-bottom: 400px;
    left: 0;
    top: 0;
}
.content{
 text-align: center;
 font-family: Quicksand;
 color: black;
 size: 14px;
 padding-top: 240px;
 padding-bottom: 400px;
 background-color: white;
 font-size: 25px;
}
body {
 background: url('http://i3.wallpaperscraft.com/image/northern_lights_aurora_borealis_uk_2015_100946_3840x2160.jpg') no-repeat center center fixed; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
